* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(242, 242, 242);
}

#header {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#title {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
}

#input-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#ta-input {
  padding: 0.5rem;
  width: 60vw;
  height: 15vh;
  font-family: "Hind", sans-serif;
  font-size: 18px;
  margin-bottom: 1rem;
  border-radius: 8px;
}

#check-btn {
  font-family: "Hind", sans-serif;
  font-size: 17px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: rgb(12 63 167);
  margin-bottom: 2rem;
  color: rgb(242, 242, 242);
}

#check-btn:hover {
  background: rgb(242, 242, 242);
  color: rgb(12 63 167);
  cursor: pointer;
  border: 2px solid rgb(12 63 167);
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 50px;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Hind", sans-serif;
  border-radius: 13px;
}

#result-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 17vw;
}

td,
th {
  text-align: center;
  padding: 0.5rem 2rem;
  border: 3px solid #f2f2f2;
  background: #d9e3f9;
  border-radius: 11px;
  font-size: 20px;
}

th {
  font-weight: bold;
  font-size: 25px;
}

#vowel-total-title {
  margin-bottom: 0.3rem;
  padding: 15px;
  font-size: 25px;
}
#vowel-total {
  font-weight: bold;
  font-size: 30px;
  color: #0c3fa7;
  border: 2px solid #c4d7ff;
  border-radius: 31px;
  padding: 10px 19px;
}
